/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--main-text-color);
  font-family: var(--main-font, 'monospace');
  font-size: 18px;
  background-image: url('../images/cover-image-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-block-end: 20px;
}

a:hover {
  border-block-end: 1px solid var(--main-text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100vh;
  margin-block-end: 40px;
}

.container {
  padding: 20px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 40px; /*20px*/
  left: 20px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.decorated-zone__element {
  position: absolute;
  top: 20px;
  right: 48px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block-start: 3px;
  color: var(--accent-color);
  line-height: 138.889%;
}

.decorated-zone__element::after {
  content: '';
  position: absolute;
  right: -20px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  box-shadow: 0px 0px 4px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-accent-color);
}

.header__hiro-title {
  margin-inline-start: -20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 82.5%;
}

.text-shadow-large {
  --accent-color: #FF0070;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.text-shadow-small {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.header__hiro-text {
  justify-self: end;
  align-self: center;
  width: 50%;
}

.header__hiro-paragraph {
  justify-self: end;
  color: var(--bg-color);
  font-weight: 700;
  line-height: 130%;
}

/*--------------------------------MAIN-----------------------------*/

.main {
  display: grid;
  gap: 80px;
}

.main__row-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  gap: 20px;
}

.main__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__text-wrapper {
  grid-column-start: 2;
  grid-column-end: 4;
}

.main__sub-title {
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__text-wrapper .main__sub-title {
  margin-block-end: 10px;
}

.main__column-container .main__sub-title {
  margin-block-end: 10px;
}

.main__paragraph {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 130%;
}

.main__column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.main__title-column {
  display: block;
  grid-column: 1 / -1;
  width: clamp(11.875rem, 9.1268rem + 11.7258vw, 19.68rem);
}

.main__title-tip {
  margin-block-end: 10px;
  color: var(--bg-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.main__sub-title ~ .main__title-tip {
  margin-block-start: 20px;
}

.main__gallery {
  margin-block-end: 28px;
}

.main__gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  repeat(3, min-content);
  gap: 20px;
  margin-block-start: 20px;
}

.main__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

.main__gallery-container_row-span {
  grid-row: span 2;
}

.main__gallery-container_column-span {
  grid-column: span 2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.footer .header__hiro-title {
  margin-inline-start: 0;
}

.footer .text-shadow-small {
  --accent-color: #FF0070;
  text-shadow: 2px 2px 0px var(--accent-color);
}

/*------------------THEME-LIGHT------------*/
.page.theme_light {
  background-image: url('../images/cover-image-light.png');
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-text-color);
}

.theme_light .decorated-zone::before {
  border-block-start: 1px solid var(--main-text-color);
  border-inline-end: 1px solid var(--main-text-color);
}

.theme_light .decorated-zone::after {
  border-block-end: 1px solid var(--main-text-color);
  border-inline-start: 1px solid var(--main-text-color);
}

.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--main-text-color);
}

.theme_light .header__hiro-title {
  color: var(--title-color);
}

.theme_light .main__title {
  color: var(--main-text-color);
}

/*------------------THEME-AUTO-----------------------*/

@media (prefers-color-scheme: light) {

    .page.theme_auto {
      background-image: url('../images/cover-image-light.png');
    }
    
    .theme_auto .decorated-zone__element {
      display: none;
    }

    .theme_auto .header__theme-menu-button:focus-visible {
      border-block-end: 1px solid var(--main-text-color);
    }
    
    .theme_auto .decorated-zone::before {
      border-block-start: 1px solid var(--main-text-color);
      border-inline-end: 1px solid var(--main-text-color);
    }
    
    .theme_auto .decorated-zone::after {
      border-block-end: 1px solid var(--main-text-color);
      border-inline-start: 1px solid var(--main-text-color);
    }
    
    .theme_auto .header__theme-menu-button {
      color: var(--main-text-color);
    }
    
    .theme_auto .header__theme-menu-button_active {
      outline: 1px solid var(--main-text-color);
    }
    
    .theme_auto .header__hiro-title {
      color: var(--title-color);
    }
    
    .theme_auto .main__title {
      color: var(--main-text-color);
    }

    @media (width < 1024px) {

      .theme_auto .text-shadow-large {
        --accent-color: #FF8DCB;
        text-shadow: 4px 4px 0px var(--accent-color);
      }
      
      .theme_auto .footer .text-shadow-small {
        --accent-color: #FF8DCB;
        text-shadow: 2px 2px 0px var(--accent-color);
      }
    }
}

/*------------------MEDIA------------------*/

@media (width < 1024px) {

  .theme_light .text-shadow-large {
    --accent-color: #FF8DCB;
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  
  .theme_light .footer .text-shadow-small {
    --accent-color: #FF8DCB;
    text-shadow: 2px 2px 0px var(--accent-color);
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .decorated-zone::after {
    bottom: 0px;
  }

  .main__column-container {
    grid-template-columns: 1fr;
  }
  
  .main__text-wrapper {
    padding-inline-start: 6px;
  }
}

@media (width < 768px) {
  
  .container {
    padding: 10px;
  }

  .page {
    margin-block-end: 10px;
  }

  .header {
    margin-block-end: 30px;
  }

  .header__hiro-title {
    margin-inline-start: 0;
  }

  .decorated-zone__element {
    top: 10px;
    right: 38px;
  }

  .decorated-zone::after {
    left: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .header__hiro-text {
    width: 100%;
  }

  .main {
    margin-block-end: 5px;
    gap: 50px;
  }

  .main__row-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .main__text-wrapper {
    grid-column-start: 1;
    padding-inline-start: 0;
  }

  .main__title-column {
      width: 100%;
  }

  .main__gallery {
    margin-block-end: 0;
  }

  .main__gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin-block-start: 10px;
  }

  .main__gallery-container_column-span {
    grid-column: span 1;
  }
  
  .main__gallery-container_row-span {
    grid-row: span 1;
  }
}